---
import type { ProjectExpand } from '../../types'
import type { ProjectsResponse } from '../../types/pocketbase-types'

interface Props {
  project: ProjectsResponse<ProjectExpand>
}

const { project } = Astro.props

if (!project.city || !project.district) {
  project.city = project.city ?? 'Unknown'
  project.district = project.district ?? 'Unknown'
}
const location = `${project.city}, ${project.district}`
const status = project.status || 'Ongoing'
---

<a
  href={`/projects/${project.category}/${project.id}`}
  target="_blank"
  class="group relative bg-aspada-cream/70 rounded-xl overflow-hidden border border-aspada-steel/30 shadow-sm hover:shadow-xl transition-all duration-500 flex flex-col h-full"
  aria-label={`View details for ${project.title}`}
>
  <div class="relative aspect-[16/10] overflow-hidden">
    {
      project.coverImage && (
        <img
          src={project.coverImage}
          alt={project.title}
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
          loading="lazy"
          decoding="async"
        />
      )
    }

    <div class="absolute top-4 left-4">
      <span
        class="bg-aspada-navy px-3 py-1 font-bold text-aspada-cream/80 uppercase tracking-wider rounded-sm shadow-lg"
      >
        {status}
      </span>
    </div>
  </div>

  <div class="p-6 flex flex-col flex-grow">
    <div class="flex items-center gap-2 mb-3">
      <span class="w-1.5 h-1.5 bg-aspada-gold rounded-full"></span>
      <span class="text-aspada-navy/60 text-sm font-bold uppercase tracking-[0.2em]">
        {project.category}
      </span>
    </div>

    <div class="flex-grow">
      <h3
        class="text-md font-bold text-aspada-navy mb-2 group-hover:text-aspada-gold transition-colors duration-300 leading-tight"
      >
        {project.title}
      </h3>
      <div
        class="flex items-center gap-1 text-aspada-navy/50 text-xs font-semibold uppercase tracking-tight"
      >
        <div class="i-lucide-map-pin text-sm"></div>
        {location}
      </div>
    </div>

    <div class="mt-6 pt-5 border-t border-aspada-steel/20 flex items-center justify-between">
      <span
        class="text-aspada-navy text-md font-bold uppercase tracking-widest opacity-75 group-hover:opacity-100 transition-opacity duration-300 group"
      >
        View Details
      </span>
      <div
        class="flex items-center justify-center w-10 h-10 bg-aspada-navy text-white rounded-lg group-hover:bg-aspada-gold transition-all duration-300"
      >
        <div class="i-lucide-arrow-right text-lg group-hover:translate-x-0.5 transition-transform">
        </div>
      </div>
    </div>
  </div>
</a>
